BasedOnStyle: LLVM
ColumnLimit: 100
BreakAfterReturnType: Automatic
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: BlockIndent
