playpen/examples/linking/keep
src/.keep

bin/
assets/

# a bunch of experiments here
playpen/tinyemu-2019-12-21/
playpen/buildroot-riscv-2018-10-20/
playpen/diskimage-linux-riscv-2018-09-23/
playpen/selfie/
playpen/selfie-cuda/
playpen/linux_for_riscv_em/
playpen/riscv_em/
playpen/cuda-risv-emu/
playpen/mini-rv32ima/

# --- c++ ---

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
