examples/linking/keep/
src/.keep
tinyemu-2019-12-21/
buildroot-riscv-2018-10-20/
diskimage-linux-riscv-2018-09-23/

# --- c++ ---

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
